body,html{
	background: #000;
	margin:0;
	padding: 100px;
	}
#numero1{
	width: 100px; 
	height: 100px; 
	border: 1px solid #000;
	float: left; 
	margin-right: 10px; 
	font-size: 100px; 
	text-align: center; 
	line-height: 100px; 
	background-color:#EEE;
	background-color:#FFF000;
}
#sinal{
	width: 100px; 
	height: 100px; 			
	float: left; 
	border: none;
	margin-right: 10px; 
	font-size: 100px; 
	text-align: center; 
	line-height: 100px; 
	color:#FFF;	
	
}

#numero2{
	width: 100px; 
	height: 100px; 
	border: 1px solid #000;
	float: left; 
	margin-right: 10px; 
	font-size: 100px; 
	text-align: center; 
	line-height: 100px; 
	background-color:#FFF000;
}
#igual{
	width: 100px; 
	height: 100px; 			
	float: left; 
	border: none;
	margin-right: 10px; 
	font-size: 100px; 
	text-align: center; 
	line-height: 100px; 
	color:#FFF;	
}
#campo{
	width: 100px; 
	height: 100px; 
	border: 1px solid #000; 
	float: left; 
	margin-right: 10px; 
	font-size: 50px; 
	color: #FF0000;
	text-align: center; 
	line-height: 100px;	
	background-color:#FFF000;		
}

#score{
	width: 100px; 
	height: 100px; 	
	float: right; 
	margin-right: 10px; 
	font-size: 100px; 
	text-align: center; 
	line-height: 100px;
	color:#FFF;									
}

#scoreNome{
	width: 100px; 
	height: 100px; 	
	float: right; 
	margin-right: 100px; 
	font-size: 50px; 
	text-align: center; 
	line-height: 100px;
	color:#FF0000;									
}

button{
	width: 545px;
	height: 40px;
	margin-top: 10px;
	font-size: 20px;
	border: none;
	background-color:#FFF000;
}
button:hover{
	width: 545px;
	height: 40px;
	margin-top: 10px;
	font-size: 20px;
	border: none;
	color: #FF0000;	
}

header .autor{
	color: #FFF;
	font-size: 30px;
	margin-bottom: 40px;
}

footer{
	color: #FFF;
	margin-top: 40px;
	font-size: 20px;
}